.App {
  width: 100svw;
  height: 100svh;
  background-color: black;
}
@keyframes moveAndResizeMobile {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translate(-50px, -150px) scale(0.7); /* Move left and resize to 70% */
  }
}

@keyframes returnToOriginalMobile {
  0% {
    transform: translate(-50px, -150px) scale(0.7); /* Move left and resize to 70% */
  }
  100% {
    transform: translateX(0) scale(1); /* Return to original position and size */
  }
}

@keyframes moveAndResizeDesktop {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(-500px) scale(0.7); /* Move left and resize to 50% */
  }
}

@keyframes returnToOriginalDesktop {
  0% {
    transform: translateX(-500px) scale(0.7); /* Move left and resize to 50% */
  }
  100% {
    transform: translateX(0) scale(1); /* Return to original position and size */
  }
}

.globeAnimation {
  animation: moveAndResize 1.5s forwards; /* Animation to move and resize */
}

.globeAnimation.return {
  animation: returnToOriginal 1.5s forwards; /* Animation to return to original */
}

/* Media Query for mobile devices */
@media screen and (max-width: 600px) {
  .globeAnimation {
    animation: moveAndResizeMobile 1.5s forwards; /* Use mobile animation */
  }
}

@media screen and (min-width: 601px) {
  .globeAnimation {
    animation: moveAndResizeDesktop 1.5s forwards; /* Use desktop animation */
  }
}
